#mySidenav a {
  width: 160px; /* Set a specific width */
  position: fixed; /* Position them relative to the browser window */
  #left: -155px; /* Position them outside of the screen */
  right: -140px;
  transition: 0.1s; /* Add transition on hover */
  padding: 10px;
  text-decoration: none; /* Remove underline */
  font-size: 17px;
  color: white;
  border-radius: 10px 0px 0px 10px; /* Rounded corners on the top right and bottom right side */
  text-align: left;
  margin-left: 0px;
}

#mySidenav a:hover {
  right: 0; /* On mouse-over, make the elements appear as they should */
}

#linkedin {
    top: 200px;
    background-color: #0e76a8;
}

#github {
    top: 260px;
    background-color: #555;
}

#twitter {
    top: 320px;
    background-color: #00acee;
}

#facebook {
    top: 380px;
    background-color: #3b5998;
}

#download {
  top: 440px;
  background-color: #555
}

