* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	
}
body, html {
	margin: 5px;
	box-sizing: border-box;
	background-color: hsl(248, 53%, 15%);
    color: midnightblue;
	height: 100%;
	/* # min-width: 100%; */
	/* # min-height: 90%; */
}
/* Header/logo Title */
.header-home {
  padding: 10px;
  text-align: auto;
  color: white;
  background-image: url("../img/alejandro-escamilla-4-unsplash.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center; 
  /* margin-top: -100px; */
  /* height: 20%; */
}
/* Header/logo Title */
.header {
  padding: 30px;
  text-align: left; 
  #margin-top: -45px;
  #margin-bottom: 30px;
}

/* Increase the font size of the heading */
.header h1 {
  font-size: 50px;
}

/* Sticky navbar - toggles between relative and fixed, depending on the scroll position. It is positioned relative until a given offset position is met in the viewport - then it "sticks" in place (like position:fixed). The sticky value is not supported in IE or Edge 15 and earlier versions. However, for these versions the navbar will inherit default position */
.navbar {
  overflow: hidden;
  background-color: #333;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}
/* Style the navigation bar links */
.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}
/* Right-aligned link */
.navbar a.right {
  float: right;
}

/* Change color on hover */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* Active/current link */
.navbar a.active {
  background-color: #666;
  color: white;
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width: 100%;
}}

#row {
	display: flex;
	flex-wrap: wrap;
	#margin-left: 30px;
	#margin-bottom: -15px;
}
#column {
	display: inline-block;
	vertical-align: top;
	#margin-left: 30px;
	width: 40%;
}
#column-right {
	display: inline-block;
	vertical-align: top;
	#margin-left: 30px;
	#margin-top: 30px;
	width: 60%;
}
/* Main column */
.main {   
  -ms-flex: 70%; /* IE10 */
  flex: 70%;
  background-color: white;
  padding: 30px 50px 30px 50px;
  font-size: 19px;
}
.list-tab {
  padding:0px;
  margin-left:80px;
  font-size: 19px;
  #color: 000033;
}

.avatar {
  display: block;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 0 auto;
}
.home-three-style .skills,
.home-four-style .skills {
	max-width: 555px;
}

/* Table */
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 50%;
  # margin-left: 50px;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  color: #40424a;
  width: 50%;
}

tr:nth-child(even) {
  background-color: #dddddd;
}


/*---------------------
	Footer section
-----------------------*/
/* .footer-section {
	background: #40424a;
	padding: 5px 0;
}
 */
/* .copyright {
	padding-top: 5px;
	font-size: 12px;
	color: #838488;
	line-height: normal;
} */
.text-center {
    text-align: center!important;
}

