html {
    scroll-behavior: smooth;
}
body {
  margin: 0;
  font-size: 19px;
  /*font-family: Arial, Helvetica, sans-serif;*/
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.courier-font {
    font-family: "Courier New", Courier, monospace;
}

.header {
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
  background-image: url('../images/header.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center; /* Centers the image */
  min-height: 500px;
}

.header p, .header h2 {
    margin: 15px 0; /* Reduce top & bottom margin */
    padding: 0; /* Remove unnecessary padding */
	line-height: 1.5; /* Lower values bring text closer */
}

#navbar {
  position: sticky;
  top: 0;
  overflow: hidden;
  background-color: #34495e;
  padding-left: 10px;
  padding-right: 10px;
}

#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
/*For active text*/
#nav a:visited {
    color: #ff0000; /* Different color when visited */
}


#navbar a:hover {
  background-color: #ddd;
  color: black;
}

#navbar a.active {
  background-color: lightslategray;
  color: white;
}

.content {
  padding: 16px;
}
/* Footer */
footer {
    /*background: rgba(0, 0, 0, 0.8);#2874a6*/
	background: #34495e ;
    padding: 15px 0;
    position: relative;
    bottom: 0;
    width: 100%;
	text-align: center;
}
hex-container {
    display: flex
;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 30px 100px;
    margin-top: 80px;
    margin-bottom: 80px;
}
.hex-box {
    position: relative;
    width: 190px;
    height: 190px;
    background-color: white;
    /* background: #2471a3; */
    /* background: linear-gradient(to bottom, #FEFF86, #FF9149); */
    /* clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%); */
    display: flex
;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    color: #5499c7;
    box-shadow: 0 5px 10px 0 rgba(0, 1, 0, 1), 0 0px 0px 0 rgba(0, 0, 0, 1);
    transform: perspective(500px) rotateX(0deg);
    background-size: cover;
    border-radius: 15%;
}
.content-pf {
    /* background-color: white; */
    padding: 20px 5px 0 5px;
    /* box-shadow: 0 5px 5px 0 rgba(0, 1, 0, 1), 0 0px 0px 0 rgba(0, 0, 0, 1); */
    /* border-radius: 3%; */
}